*.pyc
*.pyo
pdfmajor.egg-info
.settings
docs/_build
/build/
/dist/
tests/*.xml
tests/*.txt
.idea/
.vscode
tests/samples/output
./samples
**__pycache**\
.mypy_cache
.ipynb_checkpoints
venv
oldpdfmajor
